html {
    font-family:system-ui, sans-serif;
    font-size: 18px;
    background-color: #171717;
    margin: auto;
    color-scheme: dark;
    padding: 1.5rem;
    max-width: 80ch;
}

body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    width: 100%;
}

h1{
    color: #e4e4e7;
    font-size: 28px;
    font-weight: bold;
}

h2{
    color: #e4e4e7;
    font-size: 24px;
    font-weight: bold;
    margin: 0.5em 0;
}

a{
    color: #93c5fd;
}

p{
    color:#d4d4d8;
}

li{
    color:#d4d4d8;
}

header {
   margin: 0em 0 2em;
}