---
import "../styles/global.css";
import { SITE_TITLE } from '../config';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${SITE_TITLE} Not found`}</title>
	</head>
	<div class="grid place-content-center gap-1 text-center">
		<h1>404 Not found</h1>
		<a href="/">
			<img src="/404.png" alt="404">
		</a>
	</div>
</html>
    