---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import CardSection from '../components/CardSection.astro';
---

<Layout title="About">
	<main>
		<Navbar />
		<h1 class="text-2xl pb-2 font-bold">About</h1>
		<br>
		<h2 class="text-xl pb-2 font-bold"></h2>
	</main>
	<Footer/>
</Layout>