---
import Layout from "../layouts/Layout.astro";
import CardSection from "../components/CardSection.astro";
---

<Layout content={{ title: "Home" }}>
  <main>
    <h1 class="text-2xl pb-2 font-bold">Heyo, I'm RFCarreira</h1>
    <p class="font-regular">
      I'm a developer from Portugal and I like to tinker with stuff. Interested
      in <b>web and software development</b>, <b>computer hardware</b> and looking
      to start contributing to <b>open source</b> projects.
    </p>
    <br />
    <p>
      I'm seeking my first job opportunity in the field and have plans to join <b>CSE</b>. On my free time I like to game or learn something new but also hang out
      with friends and chill.
    </p>
    <br />
    <CardSection />
  </main>
</Layout>
