---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const projects = await Astro.glob("./projects/*.md");
---

<Layout content={{title:"Projects"}}>
	<main>
		<section class="list-none space-y-5">
		{projects.slice(0, 4).map((proj) => (
			<Card
				title = {proj.frontmatter.title}
				body = {proj.frontmatter.description}
				language={proj.frontmatter.language}
				href = {`projects/${proj.frontmatter.filename}`}
			/>
	  ))}
	  	</section>
	</main>
</Layout>
