---
import Card from '../components/Card.astro';
const projects = (await Astro.glob("../pages/projects/*.md")).filter((proj) => proj.frontmatter.pin);
---

<h1 class="text-2xl pb-2 font-bold">Stuff I've worked in</h1>
<br>
<section class="grid grid-cols-1 gap-4 auto-cols-max sm:grid-cols-2 sm:gap-3">
	{projects.slice(0,6).map((proj) => (
		//limit to 6 projects
	<Card
		title = {proj.frontmatter.title}
		body = {proj.frontmatter.description}
		language={proj.frontmatter.language}
		href = {`projects/${proj.frontmatter.filename}`}
		/>
	  ))}
</section>