---
export interface Props {
	title: string;
	body: string;
	href: string;
	language: string;
}

const { href, title, body, language } = Astro.props;
---

<div class="link-card hover:scale-105 ease-out transition-transform">
	<a href={href}>
		<h3 class="font-regular">
			{title}
		</h3>
		<p>
			{body}
		</p>
		<p>
			Developed in <b>{language}</b>
		</p>
	</a>
</div>
<style>
	.link-card {
		display: flex;
		padding: 0.25rem;
		background-color: #121212;
		border-radius: 0.6rem;
		border: #999999 0.1em solid;
	}
	.link-card > a {
		line-height: 1.4;
		padding: 1rem 1.3rem;
	}
	h2 {
		margin: 0;
		font-size: 18px;
		font-weight: bold;
	}
	p {
		font-size: 14px;
		margin-top: 0.5rem;
		margin-bottom: 0;
    	color:#d4d4d8;
	}
</style>
