---
import type { InfoProps } from "./CVInfo.astro";

// data for info box
const infos: InfoProps[] = [
    { icon: "envelope", info: "rodrigocarreira33@gmail.com" },
    { icon: "linkedin", info: "rfcarreira33@linkedIn" },
    { icon: "github", info: "rfcarreira33@github" },
    { icon: "map-marker", info: "Leiria, Portugal" },
];
---

<ul>
    {
        infos.map(({ icon, info }) => (
            <li class="flex justify-end">
                <span class="items-center">
                    <i class={`fa fa-${icon} pr-1`} />
                    {info}
                </span>
            </li>
        ))
    }
</ul>
