---
---

<hr class="mt-24" />
<footer class="text-center">
    <br />
    <p>
        Built with <a
            class="text-neutral-300 hover:text-slate-50"
            href="https://astro.build">Astro</a
        > • Blazingly fast
    </p>
</footer>

