---
---
<hr class="mt-24">
<footer class="text-center">
    <br>
   <p> Built with <a class="hover:text-slate-50" href="https://astro.build">Astro</a> • Blazingly fast • <a class="hover:text-slate-50" href="/rss.xml">RSS</a></p>
</footer> 