---
import NavLink from "./NavLink.astro";
---
<header>
    <h2 class="text-xl font-bold flex items-center gap-3">
      <img
        src="images/avatar.png"
        alt="avatar"
        width={50}
        height={50}
        class="rounded-full "
      />
    Rodrigo Carreira
    </h2>
    <nav>
        <NavLink title="Home" href="/" />
        <NavLink title="About" href="/about" />
        <NavLink title="Projects" href="/projects" />
        <NavLink title="GitHub" href="https://github.com/RFCarreira33" target="_blank" />
        <NavLink title="Email" href="mailto:rodrigocarreira33@gmail.com" target="_blank"/>
    </nav>
  </header>
  <style>
    header {
      margin: 0em 0 2em;
    }
    h2 {
      margin: 0.5em 0;
    }
  </style>