html {
    font-family:system-ui, sans-serif;
    font-size: 18px;
    background-color: #171717;
    margin: auto;
    color-scheme: dark;
    padding: 1.5rem;
    max-width: 80ch;
}

body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    width: 100%;
}

h1{
    color: #e4e4e7;
}

h2{
    color: #e4e4e7;
}

p{
    color:#d4d4d8;
}