@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defining color palet */
:root {
  --black: #171717;
  --white: #e4e4e7;
  --grey: #d4d4d8;
  --print-black: #2b2b27;
  --accent: #93c5fd;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  background-color: var(--black);
  margin: auto;
  color-scheme: dark;
  padding: 1.5rem;
  max-width: 80ch;
}

body {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  width: 100%;
}

h1 {
  color: var(--white);
  font-size: 28px;
  font-weight: bold;
}

h2 {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  margin: 0.5em 0;
}

a {
  color: var(--accent);
}

p {
  color: var(--grey);
}

li {
  color: var(--grey);
}

header {
  margin: 0em 0 2em;
}

@media print {
  @page {
    size: auto;
    margin: -2mm 10mm;
  }

  body {
    color: var(--print-black);
    -webkit-print-color-adjust: exact;
    /* For Chrome and Safari */
    print-color-adjust: exact;
    /* For Firefox */
    background-color: #ffffff;
  }

  img {
    max-width: 95%;
    max-height: 95%;
  }

  h1 {
    color: var(--print-back);
  }

  h2 {
    color: var(--accent);
  }

  p {
    color: var(--print-back);
    font-size: 12px;
  }

  li {
    color: var(--print-back);
    font-size: 14px;
  }

  a {
    color: var(--print-back);
  }

  hr {
    height: 14px !important;
  }

  .print-rg {
    font-size: 12px;
  }

  .print-md {
    font-size: 16px;
  }

  .print-hd {
    font-size: 18px;
  }
}
