---
import "../styles/global.css";
import { SITE_TITLE } from "../config";
export interface Props {
    content: {
        title: string;
    };
}

const {
    content: { title },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{`${SITE_TITLE} ${title}`}</title>
    </head>
    <body>
        <div class="grid grid-rows-1 grid-cols-12 gap-2 print:hidden">
            <div class="col-span-2">
                <a href="/"
                    ><span
                        class="font-medium hover:underline underline-offset-3px"
                        ><i class="fa fa-home pr-2"></i>Home</span
                    ></a
                >
            </div>
            <div class="col-span-8"></div>
            <div class="col-span-2 flex justify-end">
                <a onclick="window.print()" class="cursor-pointer"
                    ><span
                        class="font-medium hover:underline underline-offset-3px text-end"
                        ><i class="fa fa-print pr-2"></i>Print</span
                    ></a
                >
            </div>
        </div>
        <br />
        <div class="print:block">
            <slot />
        </div>
    </body>
</html>
<script>
    // client side routing
    import flamethrower from "flamethrower-router";
    export const router = flamethrower({
        pageTransitions: true,
        prefetch: "visible",
    });
</script>
