---
import "../styles/global.css";
import { SITE_TITLE } from '../config';
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
export interface Props {
	content:{
		title: string;
	}
}

const {
	content: { title }
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${SITE_TITLE} ${title}`}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<script>
	// client side routing
	import flamethrower from "flamethrower-router";
  	export const router = flamethrower({
    	pageTransitions: true,
    	prefetch: "visible",
  	});
</script>
